body {
    background-image: url("weather.jpeg");
    background-repeat:no-repeat;
    background-position:center;
    background-size: 100%;
}
.main {
    border:5px solid black;
    padding:5px;
    border-radius:12px;
}

.weth {
    color:white;
}
.hel{
  display:inline-block;
}
.hel1{
border:3px solid black;
margin-left:190px;
margin-right:190px;
}
.cit {
background:#6D4C41;
margin-left:450px;
margin-right:450px;
color:black;
border-radius:3px;
}

.btnwet {
padding:5px;
border:3px solid red;
border-radius:5px;
background:#FF8A65;
color:black;
}
.btnwet:hover {
    background:red;
}
